<template name="statoattuale">

    <div id="section">

    <div class="bar top-bar"><div class="v-center"><div id="title">Stato Attuale</div></div></div>
    <div class="core">
        <div class="container produzione">
          <div class="tile">
            <div class="hoverbg"></div>
            <div class="intestazione">
              <div class="o-center" style="background:transparent;left:46.5%">
                <div class="tile-icon {{ColorProduzione}}"></div>

                <div class="tile-name" style="display:block;margin-left:-116px">PRODUZIONE</div>
                <span class="fascia {{ColorProduzione}}">{{ValProduzione}} W</span>
              </div>
            </div>
          </div>
        </div>
        <div class="container consumo">
          <div class="tile">
            <div class="hoverbg"></div>
            <div class="intestazione">
              <div class="o-center" style="background:transparent;left:46.5%">
                <div class="tile-icon {{ColorConsumo}}"></div>

                <div class="tile-name" style="display:block;margin-left:-100px">CONSUMO</div>
                <span class="fascia {{ColorConsumo}}">{{ValConsumo}} W</span>
              </div>
            </div>
          </div>
        </div>
        <div class="container rete">
          <div class="tile">
            <div class="hoverbg"></div>
            <div class="intestazione">
              <div class="o-center" style="background:transparent;left:46.5%">
                <div class="tile-icon {{ColorRete}}"></div>

                <div class="tile-name" style="display:block;margin-left:-120px">SCAMBIO RETE</div>
                <span class="fascia {{ColorRete}}">{{ValRete}} W</span>
              </div>
            </div>
          </div>
        </div>
        <div class="container altro">
          <div class="tile">
            <div class="hoverbg"></div>
            <div class="intestazione">
              <div class="o-center" style="background:transparent;left:46.5%">
                <div class="tile-icon {{ColorBatteria}}"></div>

                <div class="tile-name" style="display:block;margin-left:-130px">ALTRE OPZIONI</div>
                <span class="fascia {{ColorBatteria}} hide">{{ValBatteria}} W</span>
              </div>
            </div>
          </div>
        </div>
        <div class="v-center"></div>
        <div class="o-center"></div>
    </div>
    <div class="bar bottom-bar">
          <div style="height:7px"></div>
      <div style="margin-top:-10px">IERI AVRESTI RISPARMIATO Circa:</div>
      <div style="height:10px"></div>
      <div class="inline rifornitore"></div>
      <div class="puntini inline">.......................................................................................................................................................................................................................................
      </div>
      <div class="inline car"></div>
      <div class="km">{{km}} Km</div>
      <div class="euros">€ {{money}}</div>
    </div>

  </div>


</template>
