<template name="suggerimenti">

  <div id="section">
    <div class="bar bar-dati bar-gestione">
      <div class="title-altro">
        Informazioni utili
      </div>
    </div>
    <div class="bg-altro">
      <div class="tile-altro more-radius">
        <div class="subtitle-altro">
          Autoconsumo
        </div>
        <div class="content-info">Utilizza gli elettrodomestici nelle ore più soleggiate: l'autoconsumo è redditizio!</div>
      </div>
      <div class="tile-altro more-radius">
        <div class="subtitle-altro">
          Manutenzione
        </div>
        <div class="content-info">Effettua un lavaggio annuale dei pannelli: ne preserverai l'efficienza!</div>
      </div>
      <div class="tile-altro more-radius">
        <div class="subtitle-altro">
          Stato impianto
        </div>
        <div class="content-info">{{plantStatus}}</div>
      </div>
    </div>
  </div>


</template>
