<template name="altro">

  <div id="window" class="hide">
    <form style="margin:70px 70px; font-family:'NotSanFrancisco-Light'">
      <span class="userlabel">Indirizzo email</span>
      <input class="userbox" id="username" type="textbox" />
      <br>
      <br>
      <span class="userlabel">Password</span>
      <input class="userbox" id="password" type="password" />
      <br><br>
      <span id="fallbacklabel"></span>
      <button class="button-altro Conferma button-window">Conferma</button>
      <button class="button-altro Register button-window">Registrati</button>
    </form>
  </div>
  <div id="overflow" class="hide"></div>

  <div id="section">
    <div class="bar bar-dati bar-gestione">
      <div class="title-altro">
        Gestione
      </div>
    </div>
    <div class="bg-altro">
      <div class="tile-altro tile-altro-gestione">
        <div class="subtitle-altro titleutente-altro">Utente</div>
        <div class="username-altro {{Username}}">{{Username}}</div>
        <button class="button-altro {{Useraction}}">{{Useraction}}</button>

        <div class="subtitle-altro titleimpianti-altro">Impianti</div>

        <div class="tile-impianti {{hidetodemo}}">
          <form style="display:inline-block">
            <input id="id-nuovi-impianti" type="textbox" placeholder="Aggiungi ID Impianto"/>
          </form>
          <div class="plus-impianti">+</div>
        </div>

        {{#each impianti}}
          <div class="tile-impianti plant {{selected}}">
            <span id="{{id}}">{{id}}</span>
            <div class="eye-impianti">👁</div>
          </div>
        {{/each}}

      </div>
    </div>
  </div>

</template>
