<template name="navigazione">
  <div class="bar navbar">

    <div class="inline navtile">
      <div class="navcore {{isConsigli}}" id="suggerimentiLink">
        <div class="linkimage"></div>
        <span>Consigli</span>
      </div>
    </div>

    <div class="inline navtile">
      <div class="navcore {{isPrincipali}}" id="principaliLink">
        <div class="linkimage"></div>
        <span>Prodotta</span>
      </div>
    </div>

    <div class="inline navtile main-icon">
      <div class="navcore {{isAttuale}}" id="attualeLink">
        <div class="linkimage"></div>
        <span>Attuale</span>
      </div>
    </div>

    <div class="inline navtile">
      <div class="navcore {{isSecondari}}" id="secondariLink">
        <div class="linkimage"></div>
        <span>Rete</span>
      </div>
    </div>

    <div class="inline navtile">
      <div class="navcore {{isAltro}}" id="altroLink">
        <div class="linkimage"></div>
        <span>Opzioni</span>
      </div>
    </div>


  </div>
</template>
